<br><br>
<h1 class="text-center">My friends' favorites</h1>

<% @friends_list.each do |f| %>

    <div class="dahboard-card-content ">
      <div class="d-flex justify-content-between mb-2">
        <% user = User.where(id: f)  %>
      </div>
      <% faves = [] %>
        <% Favorite.where(user_id: user[0].id).map do |favorite| %>
          <% faves << favorite.movie %>
        <% end %>
      <% if faves.empty? %>
      <% else %>
      <p><%= user[0].username %>'s favorites</p>
        <% if faves.count == 1 %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
              </div>
            </div>
          </div>
        <% elsif faves.count == 2 %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[1].poster %>" style="height: 45%" width="45%">
              </div>
          </div>
        <% elsif faves.count == 3 %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[1].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[2].poster %>" class="ms-3" style="height: 45%" width="45%">
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
              <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
              <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% elsif faves.count == 4 %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[1].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[2].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[3].poster %>" style="height: 45%" width="45%">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
              <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
              <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% elsif faves.count == 5 %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[1].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[2].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[3].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[4].poster %>" class="ms-3" style="height: 45%" width="45%">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
              <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
              <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= faves[0].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[1].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[2].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[3].poster %>" style="height: 45%" width="45%">
              </div>
              <div class="carousel-item">
                <img src="<%= faves[4].poster %>" class="ms-3" style="height: 45%" width="45%">
                <img src="<%= faves[5].poster %>" style="height: 45%" width="45%">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
              <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
              <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <% end %>
        <% end %>
    </div>

<% end %>
