<h1>Add some friends</h1>
<br>
<%= form_tag(friends_path, method: 'post', class: "form-inline") do %>
  <div data-controller="autocomplete" class="form-search search-data" data-autocomplete-choices-value="<%= User.all.pluck(:username)%>">
    <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search a friend...", data: { "autocomplete-target": "searchInput" } %>
    <br>

  </div>
    <%= submit_tag "Add a friend", class: "bottom-button" %>
<% end %>

<hr>
<br>
<h2>Your friends</h2>

<% current_user.friends.each do |fr| %>
  <div class="d-flex">
    <p><%= fr.users_friend.username %>
    <%= link_to friend_path(fr), data: {turbo_method: "delete"} do %>
      <i class='fa-solid fa-trash-can', style="color: red"></i>
    <% end %></p>
  </div>

<% end %>
<% Friend.where(users_friend: current_user).each do |n| %>
  <div class="d-flex">
    <p><%= User.find(n.user_id).username %>
    <%= link_to friend_path(n), data: {turbo_method: "delete"} do %>
      <i class='fa-solid fa-trash-can', style="color: red"></i>
    <% end %></p>
  </div>
<% end %>
