<h1 class="text-center mb-4">Invite someone</h1>

<%= form_tag(friends_path, method: 'post', class: "form-inline") do %>
  <div data-controller="autocomplete" class="form-search search-data" data-autocomplete-choices-value="<%= User.all.pluck(:username)%>">
    <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search by username...", data: { "autocomplete-target": "searchInput" } %>
    <br>

  </div>
  <div class="abs-pos">
    <%= submit_tag "Add", class: "bottom-button" %>
  </div>
<% end %>

<hr>

<h2 class="text-center my-4">Your friends</h2>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">

  <% current_user.friends.each do |fr| %>
    <div class="d-flex friends">
      <p><%= fr.users_friend.username.capitalize %>
      <%= link_to friend_path(fr), data: {turbo_method: "delete"} do %>
        <i class='fa-solid fa-trash-can trash-friend'></i>
      <% end %></p>
    </div>

  <% end %>

  <% Friend.where(users_friend: current_user).each do |n| %>
    <div class="d-flex friends">
      <p><%= User.find(n.user_id).username.capitalize %>
      <%= link_to friend_path(n), data: {turbo_method: "delete"} do %>
        <i class='fa-solid fa-trash-can', style="color: red"></i>
      <% end %></p>
    </div>
  <% end %>

</div>
