<h1>Here are your results!</h1>
<% n = 0 %>

<% @movies.each do |m| %>
  <h2><%= n += 1 %><%= ". " + m.name %></h2>
  <p><%= m.year %></p>
  <p>Genre:<%= m.genre %></p>
  <p><%= m.keyword unless m.keyword.empty? %></p>
  <p><%= m.actor %></p>
  <p><%= m.duration %> min</p>
<% end %>
