<div class = "title" >
  <h1>Here are your movies!</h1>
</div>
<% n = 0 %>
<% base_poster_url = "https://image.tmdb.org/t/p/original" %>
<br>

<div class="movie-container w-75 m-auto" id="draglist" data-controller = "drag">
  <% @movies.compact.each do |m| %>
    <div class="card-movie" id = "dragitem" data-drag-target="card" data-movie-id="<%= m.id %>"%>>
      <img src= "<%= m.poster %>" />
      <div class="card-movie-infos">
        <h2 class="overflow-visible"><%= m.name %></h2>
        <p><%= m.actor.first(2).to_s.gsub(/[\[\]\"]/,"") %></p>
        <p><%= m.year %> - <%= m.duration %> min</p>
      </div>
    </div>
  <% end %>

  <%= simple_form_for :ordered_choice, url: compute_results_group_path(@group), data: {turbo_method: "post"} do |f|%>
    <%= f.input :movie_order, input_html: {data: {drag_target: "input"}, type: "hidden", value: @movies.pluck(:id)}%>
    <%#= f.input :user, value: current_user %>
    <%= f.submit "Vote!", class: "bottom-button"%>
  <% end %>
</div>
