<% if params[:wait_for_the_others] == "true" %>

  <div class="text-center">
    <br><br><br><h6>Wait for the others...</h6>
    <br>
    <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<% else %>

  <div class="title">
    <h1>Here it is!</h1>
  </div>

  <% n = 0 %>

  <div class="modal-body">

    <div>
      <div class="lotti-bg">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_tiviyc3p.json"  background="transparent" speed="1" loop autoplay></lottie-player>
      </div>
      <img src= "<%= @final.poster %>" width="100%" height="400px" object-fit="cover" style="border-radius: 10px" />
    </div>
    <div class="card-movie-infos mt-4">
      <h2 class="mt-4"><strong><%= @final.name %></strong></h2>
      <div>
        <p><%= @final.genre.to_s.gsub(/[\[\]\"]/,"") %></p>
        <p><%= @final.year %> - <%= @final.duration %> min.</p>
      </div>

      <hr>

      <div>
        <p class="fw-semibold text-decoration-underline fs-6 wish-show-small-titles">Casting</p>
        <p class="final-text-align"><%= @final.actor.first(3).to_s.gsub(/[\[\]\"]/,"") %></p>
      </div>

      <hr>

      <div>
        <p class="fw-semibold text-decoration-underline fs-6 wish-show-small-titles">Synopsis</p>
        <p class="final-text-align"><%= @final.synopsis %></p>
      </div>

      <hr>
      <div>
        <% if @final.platform? == true %>
          <p class="fw-semibold text-decoration-underline fs-6 final-text-align wish-show-small-titles">Available on</p>
          <p><%= @final.platform.to_s.gsub(/[\[\]\"]/,"") %></p>
        <% else %>
          <small class="final-text-align">This movie is not free on any platform</small>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
