<div class="row d-flex">
  <h1 class="text-center fw-bold my-4 group-name"><%= @group.name %></h1>
</div>


  <div class="text-center ">

    <div class="member-content">
      <h4 class="mt-4 member-title"><u>Who's playing ?</u></h4>
        <% @group.users.each do |user| %>
        <p class="member-group"><%= user[:username] %> </p>
      <% end %>
    </div>


    <% if @final %>
      <div>
        <div class="bg-dark">
          <div class="modal-body">
            <img src= "<%= @final.poster %>" width="100%" height="400px" object-fit="cover" />
            <div class="card-movie-infos">
              <h2 class="mt-4"><strong><%= @final.name %></strong></h2>
              <div>
                <p class="text-start"><%= @final.genre.to_s.gsub(/[\[\]\"]/,"") %></p>
                <p><%= @final.year %> - <%= @final.duration %> min.</p>
              </div>

              <hr>

              <div>
                <p class="fw-semibold text-decoration-underline fs-6">Casting</p>
                <p><%= @final.actor.first(3).to_s.gsub(/[\[\]\"]/,"") %></p>
              </div>

              <hr>

              <div>
                <p class="fw-semibold text-decoration-underline fs-6">Synopsis</p>
                <p><%= @final.synopsis %></p>
              </div>

              <hr>
              <div>
                <% if @final.platform == "true" %>
                  <p class="fw-semibold text-decoration-underline fs-6">Available on</p>
                  <p><%= @final.platform.to_s.gsub(/[\[\]\"]/,"") %></p>
                <% else %>
                  <small>This movie is not free on any platform</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "Start the quiz", new_group_quizz_choice_path(@group), class: "bottom-button" %>
    <% end %>

    <br>
    <%= link_to "Delete this session", group_path(@group.id), data: {turbo_method: "patch"}, class: 'delete-group' %>
    <br><br><br>
    <%# if @group.quizz_choices.where(user_id: current_user.id).first.nil? || @group.quizz_choices.where(user_id: current_user.id).first.sent == false %>
    <%# end %>
  </div>
