<div class="progress progress-edit-top my-5">
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br>

<h3 class="my-5">Select an interval of year for your film</h3>

<%= simple_form_for @quizz_choice, url: add_date_quizz_choice_path(@quizz_choice), method: :patch do |f| %>
  <div class="d-flex justify-content-center w-100 fs-1">
    <%= f.select :start_year, options_for_select(1960..2022, 1960), { prompt: "start year" }, class: 'date-year border-end' %>
    <%= f.select :end_year, options_for_select(1960..2022, 2022), { prompt: "end date" }, class: 'date-year' %>


    <% if edit %>
      <%= hidden_field_tag :edit, "true" %>
    <% end %>

    <%= f.submit "Next question", class: "bottom-button" %>
  </div>
<% end %>
