<div class="container">
<br>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
  </div>
<br><br>
  <div> <h3> Any envy ? </h3>
  <br>


  <div>
    <%= simple_form_for @quizz_choice, url: add_keyword_quizz_choice_path, method: :patch do |f| %>
      <%= f.input :keyword, as: :check_boxes, collection: ["coucou 1", "coucou 2"] %>
      <%= f.submit %>
    <%= form_tag(add_keyword_quizz_choice_path(@quizz_choice), method: 'patch', class: "form-inline") do %>
      <div id="search-data" class="form-search search-data" data-skills="<%= @keywords_list.flatten.to_json %>">
        <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search a keyword..." %>
        <br>
        <%= submit_tag "Search", class: "btn btn-primary button-home" %>
      </div>
    <% end %>
  </div>
</div>
