<div class="container">
  <div class="d-flex justify-content-center my-5">

    <div class="row">
      <h1 class="text-center my-5">All your choice</h1>
      <h3 class="text-center">Your mood</h3>
      <div class="text-center">
        <% @quizz_choices.each do |quizz_choice| %>
          <% quizz_choice.keyword.each do |keyword| %>
            <p><%= keyword %></p>
          <% end %>
        <% end %>
      </div>

      <h3 class="text-center">Casting</h3>
      <div class="text-center">
        <% @quizz_choices.each do |quizz_choice| %>
          <%= quizz_choice.actor %>
        <% end %>
      </div>

      <h3 class="text-center">Duration</h3>
      <div class="text-center">
        <% @quizz_choices.each do |quizz_choice| %>
          <%= quizz_choice.duration %>
        <% end %>
      </div>

      <h3 class="text-center">Date</h3>
      <div class="text-center">
        <% @quizz_choices.each do |quizz_choice| %>
          <%= quizz_choice.start_year %>
        <% end %>
      </div>

      <%#= quizz_choice.genre %>

      <h3 class="text-center">Date</h3>
      <div class="text-center">
        <% @quizz_choices.each do |quizz_choice| %>
          <%= quizz_choice.end_year %>
        <% end %>
      </div>
    </div>

  </div>

  <%#= link_to "next", new_group_movie_path %>
</div>
