<div class="dashboard">

    <div class="dash-text text-center my-4">
      <% if current_user.username.empty? %>
        <h1 class="hello">Welcome</h1>
      <% else %>
        <h1 class="hello">Welcome <%= current_user.username %> 👋</h1>
      <% end %>
    </div>

    <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
      <div class="dashboard-header justify-content-center align-items-center text-center">
        <%= image_tag 'Dashboard-card.png', class:"img" %>
        <div class="justify-content-center align-items-center text-center">
          <h1 class="find-a-movie">Find a movie</h1>
        </div>
      </div>
    <% end %>

  <div class="dashboard-card my-5">
    <div class="dahboard-card-content ">
      <div class="dashboard-option">
        <%= link_to friends_path, class: "text-decoration-none" do %>
          <p><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add friends</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="dashboard-card my-5">
    <div class="dahboard-card-content ">
      <div class="d-flex justify-content-between mb-2">
        <h3 class="ms-3">My wishlist</h3>
        <%= link_to wishes_path, class: "text-decoration-none text-white-50" do %>
          <h5 class="me-3">See all <i class="fa-solid fa-arrow-right-long"></i></h5>
        <% end %>
      </div>
      <% movies = [] %>
        <% Wish.where(user_id: current_user.id).each do |wish| %>
        <% movies << wish.movie %>
      <% end %>
      <% if movies.empty? %>
        <div class="card-carousel">
          <div class="card-empty">
            <p>No wishes here, take the quizz to add films</p>
          </div>
        </div>
      <% elsif movies.count == 1 %>
        <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= movies[0].poster %>" class="ms-3" style="height: 45%" width="45%">
            </div>
          </div>
        </div>
      <% elsif movies.count == 2 %>
        <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= movies[0].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[1].poster %>" style="height: 45%" width="45%">
            </div>
        </div>
      <% elsif movies.count == 3 %>
        <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= movies[0].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[1].poster %>" style="height: 45%" width="45%">
            </div>
            <div class="carousel-item">
              <img src="<%= movies[2].poster %>" class="ms-3" style="height: 45%" width="45%">
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
            <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
            <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% elsif movies.count == 4 %>
        <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= movies[0].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[1].poster %>" style="height: 45%" width="45%">
            </div>
            <div class="carousel-item">
              <img src="<%= movies[2].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[3].poster %>" style="height: 45%" width="45%">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
            <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
            <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% elsif movies.count == 5 %>
      <% else %>
        <div id="carouselNoTouching" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= movies[0].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[1].poster %>" style="height: 45%" width="45%">
            </div>
            <div class="carousel-item">
              <img src="<%= movies[2].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[3].poster %>" style="height: 45%" width="45%">
            </div>
            <div class="carousel-item">
              <img src="<%= movies[4].poster %>" class="ms-3" style="height: 45%" width="45%">
              <img src="<%= movies[5].poster %>" style="height: 45%" width="45%">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="prev">
            <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselNoTouching" data-bs-slide="next">
            <%# <span class="carousel-control-next-icon" aria-hidden="false"></span> %>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>

</div>
