
  <div class="dashboard">

    <div class="dash-text text-center my-4">
      <% if current_user.username.empty? %>
        <h1>Welcome</h1>
      <% else %>
        <h1>Welcome <%= current_user.username %></h1>
      <% end %>
    </div>


      <div class="dashboard-header justify-content-center align-items-center text-center">
        <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
          <div class="justify-content-center align-items-center text-center my-3">
            <h1 class="">Find a movie</h1>
          </div>
        <% end %>
      </div>

        <div class="dashboard-card my-5">
          <div class="dahboard-card-content ">
            <div class="dashboard-option">
              <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
                  <p>My "old" movies</p>
              <% end %>
            </div>

            <div class="dashboard-option">
              <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
                  <p>My wishlist    </p>
              <% end %>
            </div>

          </div>

          <div class="">
            <div class="dashboard-option">
              <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
                  <p>Add some friends erfer</p>
              <% end %>
            </div>

            <div class="dashboard-option">
              <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
                  <p>My friend's movies</p>
              <% end %>
            </div>
          </div>
        </div>

  </div>
