<div class="dashboard">
  <div class="row d-flex">
    <div class="dash-text">
      <% if current_user.username.empty? %>
        <h1>Welcome</h1>
      <% else %>
        <h1>Welcome <%= current_user.username.capitalize %></h1>
      <% end %>
    </div>

    <div class="row">

      <div class="col-sm bord padd-b h-50">
        <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
          <div class="d-flex justify-content-around">
            <h5 class="text-align align-middle">Find a movie</h5>
            <%= cl_image_tag("clap_1_ivufzu.png", width: 100, height: 100) %>
            <%# <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_efjqvygt.json" style="width: 100px; height: 100px;"></lottie-player> %>
          </div>
        <% end %>
      </div>

      <div class="col-sm d-flex">

        <div class="bord padd-s">
          <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
            <div class="">
              <p>My "old" movies</p>
            </div>
          <% end %>
        </div>

        <div class="bord padd-s">
          <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
            <div class="">
              <p>My wishlist</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-sm d-flex">

        <div class="bord padd-s">
          <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
            <div class="">
              <p>Add some friends</p>
            </div>
          <% end %>
        </div>

        <div class="bord padd-s">
          <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
            <div class="">
              <p>My friend's movies</p>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
