<div class="dashboard">

    <div class="dash-text text-center my-4">
      <% if current_user.username.empty? %>
        <h1>Welcome</h1>
      <% else %>
        <h1>Welcome <%= current_user.username %>👋</h1>
      <% end %>
    </div>

    <%= link_to dashboard_index_path, class: "text-decoration-none" do %>
      <div class="dashboard-header justify-content-center align-items-center text-center">
        <%= image_tag 'Dashboard-card.png', class:"img" %>
        <div class="justify-content-center align-items-center text-center">
          <h1>Find a movie</h1>
        </div>
      </div>
    <% end %>

  <div class="dashboard-card my-5">
    <div class="dahboard-card-content ">
      <div class="dashboard-option">
        <%= link_to friends_path, class: "text-decoration-none" do %>
            <p>Add some friends</p>
        <% end %>
      </div>
    </div>
  </div>


</div>

  <div class="dashboard-card my-5">
    <div class="dahboard-card-content ">
      <div class="dashboard-option">
        <%= link_to wishes_path, class: "text-decoration-none" do %>
            <p>My wishlist</p>
        <% end %>
      </div>
    </div>
  </div>
<br><br>
