
<div class="container">
  <div class="row d-flex">
    <div class="text-center">
      <h3>Let's find a movie</h1>
    </div>
    <br>
    <br>

    <div class="d-block row">
      <div class="col-sm d-flex">
          <div class="bord padd-s">
            <%= link_to groups_path, class: "text-decoration-none" do %>
              <div class="bord">
                <p>Join a group</p>
              </div>
            <% end %>
          </div>

<div class="dash-index d-block row">
  <div class="col-sm">

      <%= link_to groups_path, class: "text-decoration-none" do %>
        <div class="bord padd-b padd-index">
          <p>Join a group</p>
        </div>
      <% end %>

      <%= link_to new_group_path, class: "text-decoration-none" do %>
        <div class="bord padd-b padd-index">
          <p>Create a group</p>
        </div>
      <% end %>

      <%= link_to groups_path, class: "text-decoration-none" do %>
        <div class="bord padd-b padd-index">
          <p>Solo</p>
        </div>
      <% end %>

          <div class="bord padd-s">
            <%= link_to new_group_path, class: "text-decoration-none" do %>
              <div class="bord">
                <p>Create a group</p>
              </div>
            <% end %>
          </div>
      </div>
      <div class="col-sm d-flex">
          <div class="bord padd-s p-20">
            <%= link_to groups_path, class: "text-decoration-none" do %>
              <div class="bord">
                <p>Solo</p>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</div>
